body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: currentColor;
  font-size: 16px;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

.logo .accent {
  color: #4d5ae5;
}

.page-nav {
  color: #2e2f42;
  font-weight: 500;
}

.link:active,
.link:hover,
.link:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
}

button {
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
}

h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

.title-main {
  background-color: #2e2f42;
  text-align: center;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-size: 16px;
}
